/*Custom styles here*/
.save-button {
  display: none;
}

.edit-form {
  display: none;
}

img {
  height: 7em;
  width: auto;
}

button {
  width: auto;
  height: auto;
}

#hide-all-pokemon-arrow {
  position: relative;
  top: 620px;
  cursor: pointer;
}

#search-for-pokemon-submit {
  position: relative;
  left: 250px;
  bottom: 80px;
}

#create-new-pokemon-submit {
  position: relative;
  left: 250px;
  bottom: 80px;
}

#see-all-pokemon {
  position: relative;
  bottom: 10px;
  left: 250px;
}

#intro-paragraph {
  background-color: #bbdefb;
  text: white;
}
